%_button{
    color: $color-text;
    border: 1px solid $color-main;
    padding: .5rem 1rem;
    outline: none;
    background: none;
    margin: 1rem;
    cursor: pointer;
    box-shadow: 0 0 0rem 0rem rgba(0,0,0,.2);
    transform: scale(1);

    @include transitionIn(background, color, box-shadow, transform);

    &:hover{
        background: $color-main;
        color: $color-text-on;
        box-shadow: 0 0 1rem 0rem rgba(0,0,0,.2);
        transform: scale(1.1);
        @include transitionIn(background, color, box-shadow, transform);
    }
}

.#{$ID}-view{
    button{
        @extend %_button;
    }

    .mandatory button{
        display: none;
    }
}