@include less-than($widthPhone){
    .#{$ID}-view{

        &-wrapper{
            // View on
            .#{$ID}-on &{
                max-height: 70%;
                bottom: 0;
                top: unset;
            }

            .#{$ID}-on.#{$ID}-detail &{
                max-height: 100%;
            }
        }

        &{
             min-height: 20rem;
             margin: 0;
        }

        &-hide{
            top: calc( 30% + 1rem );
            .#{$ID}-on.#{$ID}-detail &{
                top: 1rem;
            }
        }
    
        &-main{
            display: flex;
            flex-direction: column;
            max-height: calc( 70vh - 6rem );

            .#{$ID}-on.#{$ID}-detail &{
                overflow: auto;
                max-height: none;
            }
        }

        &-content{
            flex-direction: column;
        }

        & &-head{
            flex-shrink: 1;
            overflow: auto;
            margin-bottom: 1rem;

            button{
                width: calc( 100% - 4rem );
                margin: 1rem 2rem;
            }

            .#{$ID}-on.#{$ID}-detail &{
                flex-shrink: unset;
            }    
        }

        &-quick{
            flex-direction: column;
            width: 100%;
            flex-shrink: 0;
            margin: 0;

            button{
                width: calc( 100% - 4rem );
                margin: .5rem 2rem;
            }
        }

        &-detail{
            height: 0;
            .#{$ID}-detail &{
                height: auto;
                max-width: none;
                width: calc( 100% - 4rem );
                margin: 2rem;
                padding: 2rem 0rem;
                border-top: 1px solid $color-text;
            }
        }
    }
}