.column_choice {
    .#{$ID}-view-group{

        margin-bottom: 2rem;

        .#{$ID}-view-group-name{
            font-size: 1.4rem;
        }

        .#{$ID}-view-group-detail{
            .more{
                color: $color-text-link;
                font-style: italic;
                margin: .2rem 0;
                display: inline-block;
            }
        }

        .#{$ID}-view-group-services{
            opacity: 0;
            max-height: 0;
            overflow: hidden;
            margin:  1rem 0 1rem 2rem;

            @include transitionInOut( max-height, opacity);

            @include less-than($widthPhone){
                margin: 1rem 0 1rem 1rem;
            }
        }
    }

    .#{$ID}-detail[data-#{$ID}-view-group] .#{$ID}-view-group-services{
        opacity: 1;
        max-height: 100vh;
        overflow: auto;
    }
}
