.column_choice  .#{$ID}{
    &-view-group{

        margin-bottom: 2rem;

        &-name{
            font-size: 1.4rem;
        }

        &-detail{
            .more{
                color: $color-text-link;
                font-style: italic;
                margin: .2rem 0;
                display: inline-block;
            }
        }
        
        &-services{
            opacity: 0;
            max-height: 0;
            overflow: hidden;
            margin:  1rem 0 1rem 2rem;

            @include transitionInOut( max-height, opacity);

            @include less-than($widthPhone){
                margin: 1rem 0 1rem 1rem;
            }

            .#{$ID}-detail[data-#{$ID}-view-group] &{
                opacity: 1;
                max-height: 100vh;
                overflow: auto;
            }
        }
    }
}
