$ID:'bgdpr';

$color-main: #ffc800;
$color-secondary: rgba(0,0,0);
$color-tertiary: rgba(100,100,100);
$color-quat: rgba(245,245,245);
$color-bg: rgba(255,255,255);

$color-text: rgba(0,0,0);
$color-text-link: rgba(100,100,100);
$color-text-mandatory: rgba(100,100,100);
$color-text-on: rgba(0,0,0);
$color-text-disabled:  rgba(100,100,100);


